*::before, *::after {
    border-radius: 100%;
    box-sizing: border-box;
}

div {
    background-color: darkgray;
    display: flex;
    justify-content: center;
    align-items: center;

    border: 2px solid black;
}
